<div class="example-container">
  <mat-toolbar color="primary">
    <button mat-icon-button mat-button (click)="slidemenu.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <button mat-fab>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon> rest
    </button> -->
    <button mat-button>
      <mat-icon inline="true">home</mat-icon>Blind Dating
    </button>

    <button mat-button>
      <mat-icon inline="true">local_movies</mat-icon>
      Movies
    </button>

    <div class="example-spacer">
      <button mat-button>Sign up</button>
    </div>
    <!-- <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>

    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>-->
  </mat-toolbar>
  <!-- <button mat-button>
    <mat-icon>home</mat-icon>
    Click me!
  </button>
  <mat-checkbox>Check me!</mat-checkbox>  -->

  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" #slidemenu [class.mat-elevation-z3]="true">
      <mat-list>
        <div mat-subheader>Folders</div>
        <mat-list-item *ngFor="let folder of folders">
          <mat-icon mat-list-icon>folder</mat-icon>
          <div mat-line>{{ folder.name }}</div>
          <div mat-line>{{ folder.updated | date }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Notes</div>
        <mat-list-item *ngFor="let note of notes">
          <mat-icon mat-list-icon>note</mat-icon>
          <div mat-line>{{ note.name }}</div>
          <div mat-line>{{ note.updated | date }}</div>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container-fluid mat-typography">
        <h1>welcome to blind dating</h1>
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>date with results</h3>
            <p>our survey will help you improve</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>no face, no SMS</h3>
            <p>you need to use your voice to date</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h3>thematic date</h3>
            <p>you need to talk about theses topic to unlock the next feature </p>
          </div>
        </ng-template>
      </ngb-carousel>
      </div>



      <div
        class="container"
        fxLayout="column"
        fxLayoutAlign="space-around center"
      >
        <mat-card class="mg-10">
          <mat-card-title>Sign in</mat-card-title>
          <div class="signinform">
            <mat-form-field appearance="legacy">
              <mat-label>Login</mat-label>
              <input matInput placeholder="ex : jpfanguin" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <!-- <mat-hint>attention a la casse</mat-hint> -->
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Enter your password"
                [type]="hide ? 'password' : 'text'"
              />
              <mat-icon matSuffix (click)="hide = !hide">{{
                hide ? "visibility" : "visibility_off"
              }}</mat-icon>
            </mat-form-field>
          </div>
          <div class="button-row">
            <button mat-raised-button>OK</button>
            <button mat-raised-button color="primary">Continue as Guest</button>
          </div>
        </mat-card>

        <mat-card class="mg-10">
          <mat-card-title>Dating profile survey</mat-card-title>

          <div class="signinform">
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            <!-- <div *ngFor="let question of questions" [@flyInOut]="'in'"> -->
            <div *ngFor="let question of questions">
              <div class="mat-typography mg-10">
                {{ question.questionName }}
              </div>
              <mat-button-toggle-group
                #group="matButtonToggleGroup"
                class="mg-10"
                (valueChange)="onValueQuestionChange($event, question)"
              >
                <mat-button-toggle [value]="0">
                  {{ question.questionChoice[0] }}
                </mat-button-toggle>
                <mat-button-toggle [value]="1">
                  {{ question.questionChoice[1] }}
                </mat-button-toggle>
                <mat-button-toggle [value]="2">
                  {{ question.questionChoice[2] }}
                </mat-button-toggle>
              </mat-button-toggle-group>
              <div class="example-selected-value mat-typography">
                Selected value: {{ group.value }}
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
